.flexContainer {
  composes: sideBySide from "./utils.module.css";
  gap: var(--space-md);
  margin: var(--space-md) 0 var(--space-lg);
}

@media (min-width: 768px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .main {
    width: 768px;
  }

  .sidebar {
    width: 240px;
    /* ある程度スクロールしたらトップに張り付くようにする */
    position: sticky;
    top: 40px;
    /* 縦位置を上に寄せる */
    align-self: start;
  }

  .sidebar * {
    text-align: right;
  }

  /* 疑似要素:isで.sidebar下の指定の要素をまとめることができる */
  /* fit-contentはブロック要素に指定することが望ましいためそのようにする
  これからアイコンとかを入れるので */
  .sidebar :is(div, ul) {
    width: fit-content;
    /* place-items：縦位置(align-items) 横位置(justify-items)★ボックスの中の要素の位置*/
    place-items: flex-end;
    /* place-content：縦位置(align-content) 横位置(justify-content)★コンテナ全体の位置*/
    place-content: flex-end;
    /* つまりここではsidebarのコンテナ全体を右寄せに/かつ/div,ul内の要素も右寄せにしている */
  }
}
